.header {
    align-items: center;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: .5rem;
    left: 0;
    padding: 0 4rem;


    & > span {
        font-weight: 500;
        font-size: 1.6rem;
        color: $white;
    }

    & > ul {
        display: flex;
        list-style: none;
        margin: 0;

        @include respond( tab-port ) {
            display: none;
        }

        & > li{
            color: $white;
            margin-left: .75rem;
            text-transform: capitalize;
            font-weight: 500;
            &:hover {
                color: $yellow;
            }
        }
    }
}