.btn{
    position: relative;

    @include respond( tab-port ) {       
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    & > a {
        align-items: center;
        background-color: $yellow;
        border: solid 2px $black;
        display: flex;
        height: 2.3rem;
        justify-content: center;
        position: absolute;
        transform: translate(-5px,-5px);
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 1.1rem;
        width: 11rem;
        z-index: 2;
        transition: all 0.5s;
        
        &:hover{
            transform: translate(0px,0px)
        }
    }


    & > span {
        background-color:transparent;
        border: solid 2px $black;
        height: 2.3rem;
        position: absolute;
        width: 11rem;
        z-index: 1;

    }
}


.btn__yellow{ & > a { background-color: $yellow; } }

.btn__white{  & > a { background-color: $white; }  }
